main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

main .hero {
  position: relative;
  min-height: 450px;
  height: 50vw;
  background-color: transparent;
  display: flex;
  align-items: center;
}

main .hero h1 {
  color: white;
}

.hero > div:nth-child(2) > div {
  margin-top: -10vw;
  margin-left: 10vw;
  max-width: 1000px;
  width: 40vw;
}

.hero > div:nth-child(2) > div > p:nth-child(2) {
  color: var(--heading-color)
}

/* Make the SVG's container cover the entire hero */
main .hero > div:first-child {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo {
  object-fit: contain !important;
  width: 200px !important;
  height: auto !important;
  position: absolute;
  top: -30px;
  left: -10px;
}

.hero > div:nth-child(2) > div picture {
  position: absolute;
  height: 90%;
  top: 0;
  right: 0;
}

.hero-container .ball > svg {
  width: 12.5vw;
  height: 12.5vw;
}

.hero-container .ball.element-1  {
  position: absolute;
  top: 2.5vw;
  left: 25vw;
  width: auto;
  height: auto;
}

.hero-container .ball.element-2  {
  position: absolute;
  top: 15vw;
  left: 55vw;
  width: auto;
  height: auto;
}

.hero-container .ball.element-3 {
  position: absolute;
  top: 26vw;
  left: 8vw;
  width: auto;
  height: auto;
}


@media (max-width: 1200px) {
  .hero > div:nth-child(2) > div > p:nth-child(2) {
    display: none;
  }

  .hero > div:nth-child(2) > div { 
    margin-top: -100px;
    margin-left: 20px;
    width: 80vw;
  }
}

@media (max-width: 990px) {
  .logo {
    display: none;
  }
}

@media (max-width: 900px) {
  .hero-container .ball.element-1 {
    top: 25px;
  }

  .hero-container .ball.element-2 {
    top: 130px;
  }

  .hero-container .ball.element-3 {
    top: 230px;
  }
}

@media (max-width: 767px) {
  .hero > div:nth-child(2) > div > p:nth-child(4) {
    display: none;
  }
}