.text.block {
    width: 90%;
    max-width: 1300px;
    padding: 20px;
    margin: auto;
}

.text.block>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.text.block>div:first-child>div:first-child {
    flex: 1;
}

.text.block>div:first-child>div:last-child {
    margin-left: 100px;
}

.bottom-icons {
    margin-top: 75px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}


.bottom-icons img {
    width: 75px;
}

.bottom-icons div>div {
    display: flex;
    justify-content: center;
}

.bottom-icons>div>div:nth-child(2) {
    margin-top: 10px;
    background-color: var(--highlight-pink);
    color: var(--background-color);
    padding: 5px 10px;
    border-radius: 25px;
    transition: all 0.4s ease;
    max-width: fit-content;
}

.bottom-icons>div>div:nth-child(2):hover {
    cursor: pointer;
    background-color: var(--highlight-pink-hover);
}

@media (max-width: 990px) {
    .text.block>div {
        flex-direction: column;
    }

    .text.block>div:first-child>div:last-child {
        margin-left: 0;
        margin-top: -50px;
    }

    .text.block>div:first-child>div:last-child picture img {
        display: block;
        margin: 0 auto;
    }

    .bottom-icons>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.text.block.no-image {
    position: absolute;
    right: 2%;
    top: 150px;
    width: 50vw;
    max-width: 750px;
}

@media (min-width: 2000px) {
    .text.block.no-image {
        right: 5%;
        top: 300px
    }
}

.text.block.no-image>div {
    justify-content: center;
}

.no-image .bottom-icons {
    margin-top: 0px;
    margin-left: 50px;
}

.no-image .bottom-icons>div>div:nth-child(2) {
    background-color: transparent;
    cursor: default;
}


.no-image h2,
.no-image p {
    color: var(--background-color);
}

.section.pink-background.text-container {
    height: 66vw;
    min-height: 900px;
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.background svg:first-child {
    width: 100%;
    height: 100%;
}

.pink-background .text.block {
    display: flex;
    flex-direction: column;
    /* default layout is vertical for larger screens */
}

.ball > svg{
    position: absolute;
    width: 12.5vw;
    height: 12.5vw;
}

.ball.element-2 {
    position: absolute  ;
    bottom: 0;
    left: 90vw;
    width: auto;
    height: auto;
}

.ball.element-3 {
    position: absolute;
    top: 750px;
    left: 40vw;
    width: auto;
    height: auto;
}

@media (min-width: 1600px) {

    .ball.element-1 {
        position: absolute;
        top: 0px;
        left: 20vw;
    }
    .ball.element-3 {
        left: 50vw;
    }
}

@media (max-width: 990px) {
    .pink-background .text.block {
        margin-top: 75px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        width: 90%;
    }

    .pink-background .text.block>div:first-child {
        flex: 1;
        margin-left: 1vw;
    }

    .pink-background .bottom-icons {
        flex-basis: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }
}