.text.block {
    width: 90%;
    max-width: 1300px;
    padding: 20px;
    margin: auto;
}

.text.block>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.text.block>div:first-child>div:first-child {
    flex: 1;
}

.text.block>div:first-child>div:last-child {
    margin-left: 100px;
}

.bottom-icons {
    margin-top: 75px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}


.bottom-icons img {
    width: 75px;
}

.bottom-icons div>div {
    display: flex;
    justify-content: center;
}

.bottom-icons>div>div:nth-child(2) {
    margin-top: 10px;
    background-color: var(--highlight-pink);
    color: var(--background-color);
    padding: 5px 10px;
    border-radius: 25px;
    transition: all 0.4s ease;
    max-width: fit-content;
}

.bottom-icons>div>div:nth-child(2):hover {
    cursor: pointer;
    background-color: var(--highlight-pink-hover);
}

@media (max-width: 990px) {
    .text.block>div {
        flex-direction: column;
    }

    .text.block>div:first-child>div:last-child {
        margin-left: 0;
        margin-top: -50px;
    }

    .text.block>div:first-child>div:last-child picture img {
        display: block;
        margin: 0 auto;
    }

    .bottom-icons>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.text.block.no-image {
    position: absolute;
    right: 2%;
    width: 40vw;
    max-width: 750px;
}

.text.block.no-image>div {
    justify-content: center;
}

.no-image .bottom-icons {
    margin-left: 50px;
}

.no-image .bottom-icons>div>div:nth-child(2) {
    background-color: transparent;
    cursor: default;
}


.no-image h2,
.no-image p {
    color: var(--background-color);
}

.section.pink-background.text-container {
    height: 66vw;
    position: relative;
}

.svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.svg-container svg {
    width: 100%;
    height: 100%;
}