.footer-wrapper {
  padding: 10px;
  border-top: 1px solid #EAEAEA;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer div {
  display: flex;
  align-items: center;
}

.footer p,
.footer a {
  margin: 0 10px;
  font-size: 16px;
  display: flex;
}

.footer a {
  text-decoration: none;
  color: var(--text-color);
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 678px) {
  .footer {
    flex-direction: column;
  }

  .footer div {
    flex-direction: column;
    justify-content: left;
  }

  .footer p,
  .footer a {
    margin: 5px 0;
  }
}